*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild


.idea/workspace.xml
.idea/modules.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries
.idea/vcs.xml
.idea/inspectionProfiles

